//
// Social buttons for Photorrent.
//
// This code is under the BSD-3 license.
//
.social {
  float: right;
  background-image: linear-gradient(#BBB, #DDD);
  border: 1px #CCC solid;
  display: inline;
  * {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
  .content {
    padding: 0 0 0 0;
    background-color: #EEE;
  }
}
