<!DOCTYPE html>
<!-- Start of generic template -->
<html lang="{{lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link href="{{prefix}}css/generic.css" rel="stylesheet" />
    <link href="{{prefix}}css/social.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <strong><a href="{{prefix}}">{{{title}}}</a></strong>
      <a href="{{prefix}}/explore" class="{{exploreOn}}">Explore</a>
      <a href="{{prefix}}/account" class="navRight">Sign In/Up</a>
    </nav>
