<h1 style="display:inline">
  <i class="fa fa-repo" aria-hidden></i>
  <a href="{{prefix}}users/{{user}}">{{user}}</a>
  <span aria-hidden>/</span>
  {{repo}}
</h1>
<code>{{hash}}</code>
<div class="social">
  Follow
  <span class="content">
    555
  </span>
</div>
