{{{genericPage}}}
{{{repoHeader}}}
  <!-- Start of Wiki template -->

  <div class="wiki">
    <div class="content">
      {{wikicontent}}
    </div>
    <div class="sidebar">
      {{wikisidebar}}
    </div>
    <div class="footer">
      {{wikifooter}}
    </div>
  </div>
{{{footer}}}
